* {
    box-sizing: border-box;
  }
  header {
    text-align: center;
    background: url(city.jpg) ;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: none;
    background-color: #F9DAB4;
    justify-content: space-evenly;
  }

  
  .js-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
  }
  
  button{
    margin: auto;
    color:#E2EEFD ;
    cursor: pointer;
    font-family: 'Gaegu', cursive;
    text-transform: uppercase;
    background-color: #662443; 
  }
  
  button:hover {
    cursor: pointer;
  }

  /* responsive layout do */
  @media all and (min-width: 600px){
    button {
      margin-top: 5px;
      font-size: 20px;
    }
    input[type=radio] {
      border: 0px;
      width: 100%;
      height: 20px;
    }
    #js-form, .js-next{
      font-size: larger;
    }

  
  }